# Copyright (c) 2025 CityLens Contributors
# Licensed under the GNU General Public License v3.0 (GPL-3.0)

# API Endpoint
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1

# Mapbox
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=your-mapbox-token-here
